<div class="footer bg-dark">
    <!-- <p jhiTranslate="footer"></p> -->
    <div class="container">
        <div class="row">
        <div class="col-lg-6 col-xs-12 about-project">
            <h2> Infos BG</h2>
            <h6 class="pr-5 text-white-20"> Проект по програма "Образование с наука"</h6>
            <p class="pr-5 text-white-20">
                <a href="http://mon.bg" target="_blank">Министерство на образованието и науката</a><br> 
                <a href="http://math.bas.bg" target="_blank">Институт по математика и информатика-БАН</a><br> 
                <a href="http://vivacom.bg" target="_blank">VIVACOM</a>
            </p>
            
        </div>
        <div class="col-lg-2 col-xs-12 links">
        </div>  
        <div class="col-lg-4 col-xs-12 location">
            <h4 class="mt-lg-0 mt-sm-4">Контакти</h4>
            <p>София, ул. "Акад. Г. Бончев",<br> ИМИ-БАН, Емил Келеведжиев</p>
            <p class="mb-0">
            <svg class="svg-inline--fa fa-phone fa-w-16 mr-3" style="max-width: 30px;" aria-hidden="true" focusable="false" data-prefix="fa" data-icon="phone" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z"></path></svg><!-- <i class="fa fa-phone mr-3"></i> --> (359) 887-445037<br>
            <svg class="svg-inline--fa fa-envelope fa-w-16 mr-3" style="max-width: 30px;" aria-hidden="true" focusable="false" data-prefix="far" data-icon="envelope" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M464 64H48C21.49 64 0 85.49 0 112v288c0 26.51 21.49 48 48 48h416c26.51 0 48-21.49 48-48V112c0-26.51-21.49-48-48-48zm0 48v40.805c-22.422 18.259-58.168 46.651-134.587 106.49-16.841 13.247-50.201 45.072-73.413 44.701-23.208.375-56.579-31.459-73.413-44.701C106.18 199.465 70.425 171.067 48 152.805V112h416zM48 400V214.398c22.914 18.251 55.409 43.862 104.938 82.646 21.857 17.205 60.134 55.186 103.062 54.955 42.717.231 80.509-37.199 103.053-54.947 49.528-38.783 82.032-64.401 104.947-82.653V400H48z"></path></svg><!-- <i class="far fa-envelope mr-3"></i> --> keleved@gmail.com
            </p>
        </div>
        </div>
        <div class="row mt-5">
            <div class="col copyright">
                <p class=""><small class="text-white-50">
                    Системата се поддържа от Борис Михов и Илиян Йорданов (<a href="http://olimpiici.com/">школа Олимпийци</a>).<br/>
                    Разработена е от Марин Шаламанов, Петър Петров  (<a href="http://olimpiici.com/">школа Олимпийци</a>), <br/>
                    Емил Келеведжиев, Тодор Брънзов (<a href="http://math.bas.bg" target="_blank">ИМИ-БАН</a>), 2019—</small></p>
            </div>
        </div>
    </div>
</div>
