<div>
    <h2 id="page-heading">
        <span jhiTranslate="arenaApp.catalog.home.title">Catalog</span>

        <button *ngIf="currentAccount !== null"
                class="btn btn-primary float-right"
                [routerLink]="['submissions']">
            <span  jhiTranslate="arenaApp.competition.submissions">
            Submissions
            </span>
        </button>
        <button style="margin-right: 0.5em;"
                class="btn btn-primary float-right"
                [routerLink]="['standings']">
            <span  jhiTranslate="arenaApp.standings.title">
            Класиране
            </span>
        </button>
        <button *jhiHasAnyAuthority="'ROLE_ADMIN'"
                style="margin-right: 0.5em;"
                class="btn btn-primary float-right"
                [routerLink]="['/competition', id, 'edit']">
            <span>
            Edit
            </span>
        </button>
    </h2>
    <jhi-competition-path></jhi-competition-path>
    <jhi-competition-children></jhi-competition-children>
    <jhi-competition-problems></jhi-competition-problems>
</div>
