<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="competition">
            <h2><span jhiTranslate="arenaApp.competition.detail.title">Competition</span> {{competition.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="arenaApp.competition.label">Label</span></dt>
                <dd>
                    <span>{{competition.label}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.competition.description">Description</span></dt>
                <dd>
                    <span>{{competition.description}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.competition.order">Order</span></dt>
                <dd>
                    <span>{{competition.order}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.competition.parent">Parent</span></dt>
                <dd>
                    <div *ngIf="competition.parentId">
                        <a [routerLink]="['/competition', competition.parentId, 'view']">{{competition.parentId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/competition', competition.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
