<div>
    <div class="table-responsive" *ngIf="competitions && competitions.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="arenaApp.competition.label">Label</span></th>
                <th><span jhiTranslate="arenaApp.competition.description">Description</span></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let competition of competitions ;trackBy: trackId">
                <td><a [routerLink]="['/catalog', competition.id]">{{competition.label}}</a></td>
                <td>{{competition.description}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="competitions && competitions.length && queryCount > 10">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <jhi-alert></jhi-alert>
</div>
