<div>
    <div class="table-responsive" *ngIf="problems && problems.length > 0">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th><span jhiTranslate="arenaApp.problem.title">Tiitle</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let problem of problems; let i = index">
                <td><a [routerLink]="['/catalog', parentCompetition.id, 'problem', problem.id]">{{problem.title}}</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="problems && problems.length && queryCount > 10">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>

    <jhi-alert></jhi-alert>
</div>
