<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="problem">
            <h2  id="page-heading">
                {{problem.title}}
                <button class="btn btn-primary float-right jh-create-entity create-competition"
                        [routerLink]="['submissions']">
                    <span  jhiTranslate="arenaApp.competition.submissions">
                    Submissions
                    </span>
                </button>

                <a class="btn btn-primary float-right"
                   style="margin-right: 0.5em;"
                   href="api/public/problems/{{problem.id}}/zip?download=true" target="_blank">
                        <span jhiTranslate="arenaApp.problem.downloadZip">
                            Download ZIP
                        </span>
                </a>
            </h2>
            <jhi-competition-path></jhi-competition-path>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <div class="col-12">
                    <button class="btn"
                            (click)="onSubmitAuthorSolution()">
                        <span>
                        Submit Author Solution
                        </span>
                    </button>

                    <button class="btn"
                            (click)="onAutoSetTimeLimit()">
                        <span >
                        Autoset Time Limit
                        </span>
                    </button>
                    
                    <button class="btn" [routerLink] = "['/problem', problem.id, 'edit']">
                        <span jhiTranslate="entity.action.edit">
                            Edit
                        </span>
                    </button>
                </div>
                <hr>
                <div class="col-12">
                    <span jhiTranslate="arenaApp.submission.tags"> </span>:
                    <span [ngSwitch]="tagStatus">
                        <span *ngSwitchCase="0"></span>
                        <span *ngSwitchCase="1">(<span jhiTranslate="arenaApp.tag.status.updating"></span>)</span>
                        <span *ngSwitchCase="2">(<span jhiTranslate="arenaApp.tag.status.updated"></span>)</span>
                        <span *ngSwitchCase="3">(<span jhiTranslate="arenaApp.tag.status.error"></span>)</span>
                    </span>
                    <tag-input [(ngModel)]='tags'
                               secondaryPlaceholder = "Например Дейкстра, Графи..."
                               placeholder=""
                               (onAdd)="onTagsChanged()"
                               (onRemove)="onTagsChanged()"
                               [identifyBy]="'id'"
                               [displayBy]="'title'">
                        <tag-input-dropdown
                                minimumTextLength="2"
                                [autocompleteItems]='autocompleteTags'
                                [identifyBy]="'id'"
                                [displayBy]="'title'">
                        </tag-input-dropdown>
                    </tag-input>
                </div>
                <br/>
            </div>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="arenaApp.problem.statement">Statement</span></dt>
                <dd>
                    <a class="btn btn-primary"
                       href="api/public/problems/{{problem.id}}/pdf" target="_blank">
                        <span jhiTranslate="arenaApp.problem.open">
                            Open
                        </span>
                    </a>
                    <a class="btn btn-primary"
                            href="api/public/problems/{{problem.id}}/pdf?download=true" target="_blank">
                        <span jhiTranslate="arenaApp.problem.download">
                            Download
                        </span>
                    </a>
                </dd>

                <dt><span jhiTranslate="arenaApp.problem.constraints">Constraints</span></dt>
                <dd>
                    <table border="1" style="text-align: center">
                        <tr>
                            <th jhiTranslate="arenaApp.problem.time" style="width:5em">Time</th>
                            <th jhiTranslate="arenaApp.problem.memory" style="width:5em">Memory</th>
                        </tr>
                        <tr>
                            <td>{{problem.time/1000 | number: '1.1-1'}} s</td>
                            <td>{{problem.memory}} MB</td>
                        </tr>
                    </table>
                </dd>
            </dl>

            <form *ngIf="problem.version > 0"
                  name="submitSolutionForm" role="form" novalidate
                  (ngSubmit)="submit()" #submitSolutionForm="ngForm" >
                <div>
                    <div class="form-group">
                        <b><label class="form-control-label"
                                  jhiTranslate="arenaApp.competition.solution" for="solution">Solution</label></b>
                        <textarea rows="15" class="form-control" name="solution" id="solution"
                               [(ngModel)]="solution" >

                        </textarea>
                    </div>
                </div>
                <div>
                    <button type="submit" id="save-entity"
                            [disabled]="submitSolutionForm.form.invalid || isSubmitting" class="btn btn-primary">
                        <span jhiTranslate="arenaApp.competition.submit">Submit</span>
                    </button>
                </div>
            </form>

            <div *ngIf="problem.version == 0"
                 class="alert alert-warning"
                 jhiTranslate="arenaApp.problem.bad_problem_warning">

            </div>
        </div>
    </div>
</div>
