<div>
    <h2 id="page-heading">
        <span jhiTranslate="arenaApp.standings.title">Standings</span>
    </h2>

    <div>
        <button class="btn btn-primary" [disabled]="!weeks" (click)="setWeeks(undefined)">За всички времена</button>
        <button class="btn btn-primary" [disabled]="weeks==52" (click)="setWeeks(52)">1 година</button>
        <button class="btn btn-primary" [disabled]="weeks==4" (click)="setWeeks(4)">1 месец</button>
    </div>


    <div class="row justify-content-center">
        <mat-spinner *ngIf="loading"></mat-spinner>
    </div>

    <div class="table-responsive" *ngIf="!loading && scores && scores.length > 0">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span jhiTranslate="arenaApp.standings.user">User</span> </th>
                <th><span jhiTranslate="arenaApp.standings.points">Points</span> </th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let userpoints of scores">
                <td>{{userpoints.firstName}} {{userpoints.lastName}}</td>
                <td>{{userpoints.points}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="!loading && scores && scores.length && queryCount > itemsPerPage">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page"
                            [total]="queryCount"
                            [maxSize]="5"
                            [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems"
                            [(page)]="page"
                            [pageSize]="itemsPerPage"
                            [maxSize]="5"
                            [boundaryLinks]="true"
                            (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
    <div *ngIf="!loading && (!scores || scores.length == 0)">
        <span jhiTranslate="arenaApp.standings.empty">No standings are found.</span>
    </div>
    
    <jhi-alert></jhi-alert>
</div>
