<div>
    <h2 id="page-heading">
        <span jhiTranslate="arenaApp.submission.home.title">Submissions</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-submission" [routerLink]="['/submission/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="arenaApp.submission.home.createLabel">
            Create new Submission
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="submissions">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="file"><span jhiTranslate="arenaApp.submission.file">File</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="verdict"><span jhiTranslate="arenaApp.submission.verdict">Verdict</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="details"><span jhiTranslate="arenaApp.submission.details">Details</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="points"><span jhiTranslate="arenaApp.submission.points">Points</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timeInMillis"><span jhiTranslate="arenaApp.submission.timeInMillis">Time In Millis</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="memoryInBytes"><span jhiTranslate="arenaApp.submission.memoryInBytes">Memory In Bytes</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="uploadDate"><span jhiTranslate="arenaApp.submission.uploadDate">Upload Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="userId"><span jhiTranslate="arenaApp.submission.user">User</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="competitionProblemId"><span jhiTranslate="arenaApp.submission.competitionProblem">Competition Problem</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let submission of submissions ;trackBy: trackId">
                <td><a [routerLink]="['/submission', submission.id, 'view' ]">{{submission.id}}</a></td>
                <td>{{submission.file}}</td>
                <td>{{submission.verdict}}</td>
                <td>{{submission.details}}</td>
                <td>{{submission.points}}</td>
                <td>{{submission.timeInMillis}}</td>
                <td>{{submission.memoryInBytes}}</td>
                <td>{{submission.uploadDate | date:'medium'}}</td>
                <td>
                    {{submission.userId}}
                </td>
                <td>
                    <div *ngIf="submission.competitionProblemId">
                        <a [routerLink]="['../competition-problem', submission.competitionProblemId , 'view' ]" >{{submission.competitionProblemId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/submission', submission.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/submission', submission.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'submission/'+ submission.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="submissions && submissions.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
