<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="submission">
            <h2><span jhiTranslate="arenaApp.submission.detail.title">Submission</span> {{submission.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="arenaApp.submission.file">File</span></dt>
                <dd>
                    <span>{{submission.file}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.verdict">Verdict</span></dt>
                <dd>
                    <span>{{submission.verdict}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.details">Details</span></dt>
                <dd>
                    <span>{{submission.details}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.points">Points</span></dt>
                <dd>
                    <span>{{submission.points}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.timeInMillis">Time In Millis</span></dt>
                <dd>
                    <span>{{submission.timeInMillis}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.memoryInBytes">Memory In Bytes</span></dt>
                <dd>
                    <span>{{submission.memoryInBytes}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.uploadDate">Upload Date</span></dt>
                <dd>
                    <span>{{submission.uploadDate}}</span>
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.user">User</span></dt>
                <dd>
                    {{submission.userId}}
                </dd>
                <dt><span jhiTranslate="arenaApp.submission.competitionProblem">Competition Problem</span></dt>
                <dd>
                    <div *ngIf="submission.competitionProblemId">
                        <a [routerLink]="['/competition-problem', submission.competitionProblemId, 'view']">{{submission.competitionProblemId}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/submission', submission.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
