<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="submission != null">
            <h2><span jhiTranslate="arenaApp.submission.detail.title">Submission</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <div class="alert alert-warning"
                   *ngIf="!isJudged(submission)" jhiTranslate="arenaApp.submission.judging_warning">
            </div>
            <table border="1">
                <tr>
                    <th><span jhiTranslate="arenaApp.submission.verdict">Verdict</span></th>
                    <th><span jhiTranslate="arenaApp.submission.points">Points</span></th>
                    <th><span jhiTranslate="arenaApp.submission.timeInMillis">Time</span></th>
                    <th><span jhiTranslate="arenaApp.submission.uploadDate">Upload Date</span></th>
                    <th><span jhiTranslate="arenaApp.submission.user">User</span></th>
                    <th><span jhiTranslate="arenaApp.submission.competitionProblem">Competition Problem</span></th>
                </tr>
                <tr>
                    <td><span>{{submission.verdict}}</span></td>
                    <td>
                        <span>{{submission.points}}</span>
                    </td>
                    <td>
                        <span>{{submission.timeInMillis}}</span> ms
                    </td>
                    <td>
                        <span>{{submission.uploadDate}}</span>
                    </td>
                    <td>
                        {{submission.userId}}
                    </td>
                    <td>
                        <div *ngIf="submission.competitionProblemId">
                            <a [routerLink]="['/catalog', competitionProblem.competitionId, 'problem', competitionProblem.id]">{{competitionProblem?.title}}</a>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <!--{{Object.keys(submission.details)}}-->
            <!--<table>-->
                <!--<tr *ngFor="let scoreStep of Object.keys(submissions.details)">-->
                    <!--<td> {{scoreStep}} </td>-->
                    <!--<td> {{submissions.details[scoreStep]}} </td>-->
                <!--</tr>-->
            <!--</table>-->

            <!--"scoreSteps":{"Compile":{"verdict":"OK","reason":null,"output":null,"expectedOutput":null,"time":null},"Test1":{"verdict":"WA","reason":null,"output":null,"expectedOutput":"39\r\n","time":0.011},"Test2":{"verdict":"WA","reason":null,"output":null,"e"-->

            <dt><span jhiTranslate="arenaApp.submission.solution">Solution</span></dt>
            <dd>
                <pre>{{submission.code}}</pre>
            </dd>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
