<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="submission != null">
            <h2><span jhiTranslate="arenaApp.submission.detail.title">Submission</span></h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>

            <div class="alert alert-warning"
                   *ngIf="!isJudged(submission)" jhiTranslate="arenaApp.submission.judging_warning">
            </div>
            <div *ngIf="true">
                <div *ngIf="submission?.points === 100">
                    <div class="col-12">
                        <label> <b><span jhiTranslate="arenaApp.submission.pleaseTag">Tag your solution: </span></b></label>
                        <span [ngSwitch]="tagStatus">
                            <span *ngSwitchCase="0"></span>
                            <span *ngSwitchCase="1">(<span jhiTranslate="arenaApp.tag.status.updating"></span>)</span>
                            <span *ngSwitchCase="2">(<span jhiTranslate="arenaApp.tag.status.updated"></span>)</span>
                            <span *ngSwitchCase="3">(<span jhiTranslate="arenaApp.tag.status.error"></span>)</span>
                        </span>
                        <br/>
                        <span jhiTranslate="arenaApp.submission.tags"> </span>:
                        <tag-input [(ngModel)]='tags'
                                   secondaryPlaceholder = "Например Дейкстра, Графи..."
                                   placeholder=""
                                   (onAdd)="onTagsChanged($event)"
                                   (onRemove)="onTagsChanged($event)"
                                   [identifyBy]="'id'"
                                   [displayBy]="'title'">
                            <tag-input-dropdown
                                    minimumTextLength="2"
                                    [autocompleteItems]='autocompleteTags'
                                    [identifyBy]="'id'"
                                    [displayBy]="'title'">
                            </tag-input-dropdown>
                        </tag-input>
                    </div>
                    <br/>
                </div>
            </div>

            <table border="1">
                <tr>
                    <th><span jhiTranslate="arenaApp.submission.verdict">Verdict</span></th>
                    <th><span jhiTranslate="arenaApp.submission.points">Points</span></th>
                    <th><span jhiTranslate="arenaApp.submission.timeInMillis">Time</span></th>
                    <th><span jhiTranslate="arenaApp.submission.uploadDate">Upload Date</span></th>
                    <th><span jhiTranslate="arenaApp.submission.user">User</span></th>
                    <th><span jhiTranslate="arenaApp.submission.competitionProblem">Competition Problem</span></th>
                </tr>
                <tr>
                    <td style="max-width: 15em;"><span>{{submission.verdict}}</span></td>
                    <td>
                        <span>{{submission.points}}</span>
                    </td>
                    <td>
                        <span>{{submission.timeInMillis}}</span> ms
                    </td>
                    <td>
                        <span>{{submission.uploadDate  | date:'dd MMM y, EEE, HH:mm:ss'}}</span>
                    </td>
                    <td>
                        {{submission.userFirstName}} {{submission.userLastName}}
                    </td>
                    <td>
                        <div *ngIf="submission.competitionProblemId">
                            <a [routerLink]="['/catalog', submission.competitionId, 'problem', submission.competitionProblemId]">{{submission.problemName}}</a>
                        </div>
                    </td>
                </tr>
            </table>
            <br/>

            <div *ngIf="submissionDetails?.scoreSteps?.Compile?.reason"
                 class="alert alert-warning">
                {{submissionDetails.scoreSteps.Compile.reason}}
            </div>
            <table *ngIf="testDetails && testDetails.length" border="1">
                <tr>
                    <th> <span jhiTranslate="arenaApp.submission.test">Test</span> </th>
                    <th> <span jhiTranslate="arenaApp.submission.verdict">Verdict</span> </th>
                    <th> <span jhiTranslate="arenaApp.submission.timeInMillis">Time</span> </th>
                    <th> <span jhiTranslate="arenaApp.submission.output">Output</span> </th>
                    <!--<th> <span jhiTranslate="arenaApp.submission.expectedOutput">Expected Output</span> </th>-->
                </tr>

                <tr *ngFor="let scoreStep of testDetails">
                    <td> {{scoreStep.key}} </td>

                    <td *ngIf="scoreStep.value.verdict == 'OK'" style="background-color: #00ff00"> {{scoreStep.value.verdict}} </td>
                    <td *ngIf="scoreStep.value.verdict != 'OK'"  style="background-color: red; color:white; font-weight: bold;"> {{scoreStep.value.verdict}} </td>
                    <td> {{scoreStep.value.time}} </td>
                    <td style="max-width: 15em; text-align: left"> <pre>{{scoreStep.value.output}}</pre></td>
                    <!--<td style="max-width: 15em;"> <pre>{{scoreStep.value.expectedOutput}}</pre> </td>-->
                </tr>
            </table>

            <dt><span jhiTranslate="arenaApp.submission.solution">Solution</span></dt>
            <dd>
                <pre>{{submission.code}}</pre>
            </dd>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>
        </div>
    </div>
</div>
