<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="tag">
            <h2><span jhiTranslate="arenaApp.tag.detail.title">Tag</span> {{tag.title}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <dt><span jhiTranslate="arenaApp.tag.title">Title</span></dt>
                    <dd>
                        <span>{{tag.title}}</span>
                    </dd>

                    <dt><span jhiTranslate="arenaApp.tag.keywords">Keywords</span></dt>
                    <dd>
                        <span>{{tag.keywords}}</span>
                    </dd>
                    <dt><span jhiTranslate="arenaApp.tag.visible">Visible</span></dt>
                    <dd>
                        <span>{{tag.visible}}</span>
                    </dd>
                </div>
                <dt jhiTranslate="arenaApp.tag.problems">Problems</dt>
                <dd>
                    <table>
                        <tr *ngFor="let problem of problems">
                            <td class="problem-cell" [ngStyle]="{backgroundColor: getPointsColor(problem.points/100.0)}">
                                <a [routerLink]="['/catalog', problem.competitionId, 'problem', problem.id]">{{problem.title}}</a>
                            </td>
                            <td>
                                <span *ngFor="let ancestor of problem.path; let i = index">
                                    <span *ngIf="i != 0">, </span>
                                    {{ancestor}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </dd>
                <dt jhiTranslate="arenaApp.tag.problemsTaggedByUsers">Problems tagged by users</dt>
                <dd>
                    <table>
                        <tr *ngFor="let problem of userTaggedProblems">
                            <td class="problem-cell" [ngStyle]="{backgroundColor: getPointsColor(problem.points/100.0)}">
                                <a [routerLink]="['/catalog', problem.competitionId, 'problem', problem.id]">{{problem.title}}</a>
                            </td>
                            <td>
                                <span *ngFor="let ancestor of problem.path; let i = index">
                                    <span *ngIf="i != 0">, </span>
                                    {{ancestor}}
                                </span>
                            </td>
                        </tr>
                    </table>
                </dd>

                <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                    <dt>Submissions</dt>
                    <dd>
                        <ul>
                            <li *ngFor="let submission of submissions">
                                <a [routerLink]="['/submission', submission.id, 'view']">{{submission.id}}</a>
                            </li>
                        </ul>
                    </dd>
                </div>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/tag', tag.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
