<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">Добре дошли!</h1>

        <p>
           Нови функционалности:
        </p>

        <ul>
            <li> Поддържаме C++ 11, даже 14 и 17.</li>
            <li> Имаме всички задачи от 2009 насам.</li>
            <li> Можете да изпращате линкове към решенията си.</li>
        </ul>

        За въпроси и проблеми ни пишете на <a href="mailto:arena-olimpiici@googlegroups.com">arena-olimpiici@googlegroups.com</a>.

    </div>
</div>
