<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-5">
        <h1 class="display-4">Добре дошли!</h1>

        <p>
           Нови функционалности:
        </p>

        <ul>
            <li> Поддържаме C++ 11, даже 14 и 17.</li>
            <li> Имаме всички задачи от 2009 насам.</li>
            <li> Можете да изпращате линкове към решенията си.</li>
        </ul>
	
	<p><b>Помогнете ни да категоризираме задачите по теми! </b> След като решите някоя задача за 100 точки, оставете тагове на решението си. Когато няколко човека поставят един и същ таг, той ще стане публичен и всички ще могат да го ползват! Учители, които имат готови колекции от тагнати задачи, могат да се свържат с нас, за да ги внесем директно като публични. </p>

        <p>За въпроси и проблеми ни пишете на <a href="mailto:arena-olimpiici@googlegroups.com">arena-olimpiici@googlegroups.com</a>.</p>

    </div>
</div>
