<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-competition-problem-heading" jhiTranslate="arenaApp.competitionProblem.home.createOrEditLabel">Create or edit a Competition Problem</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!competitionProblem.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="competitionProblem.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arenaApp.competitionProblem.order" for="field_order">Order</label>
                    <input type="number" class="form-control" name="order" id="field_order"
                        [(ngModel)]="competitionProblem.order" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arenaApp.competitionProblem.problem" for="field_problem">Problem</label>
                    <input type="number" class="form-control" name="problem" id="field_problem"
                           [(ngModel)]="competitionProblem.problemId" />
                    <!--<select class="form-control" id="field_problem" name="problem" [(ngModel)]="competitionProblem.problemId" >-->
                        <!--<option [ngValue]="null"></option>-->
                        <!--<option [ngValue]="problemOption.id" *ngFor="let problemOption of problems; trackBy: trackProblemById">{{problemOption.title}}</option>-->
                    <!--</select>-->
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="arenaApp.competitionProblem.competition" for="field_competition">Competition</label>
                    <input type="number" class="form-control" name="competition" id="field_competition"
                           [(ngModel)]="competitionProblem.competitionId" />
                    <!--<select class="form-control" id="field_competition" name="competition" [(ngModel)]="competitionProblem.competitionId" >-->
                        <!--<option [ngValue]="null"></option>-->
                        <!--<option [ngValue]="competitionOption.id" *ngFor="let competitionOption of competitions; trackBy: trackCompetitionById">{{competitionOption.label}}</option>-->
                    <!--</select>-->
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
