<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="competitionProblem">
            <h2><span jhiTranslate="arenaApp.competitionProblem.detail.title">Competition Problem</span> {{competitionProblem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="arenaApp.competitionProblem.order">Order</span></dt>
                <dd>
                    <span>{{competitionProblem.order}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/competition-problem', competitionProblem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
